
// this is a blueprint callback executor which you could add to the target handler
UCLASS(Blueprintable,Meta = (ShowWorldContextPin))
class AGORAPLUGIN_API {{user_data.bpNodeName}}CBExecutor : public UObject {
	GENERATED_BODY()

public:

    {{#methods}}
    {{^user_data.hasReturnVal}}
{{{user_data.commentCppStyle}}}
    UFUNCTION(BlueprintNativeEvent, Category = "Agora|Event")
    {{user_data.bpReturnType}} {{user_data.bpNodeName}}({{#parameters}}{{{user_data.bpParameterType}}} {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}});
    {{/user_data.hasReturnVal}}
    {{/methods}}
};


// For UE 4.25 UHT Parsing
class {{name}}ClassWrapper : public {{{fullName}}}{};

{{{user_data.commentCppStyle}}}
UCLASS(BlueprintType)
class AGORAPLUGIN_API {{user_data.bpNodeName}} : public UObject, public {{name}}ClassWrapper {
  GENERATED_BODY()
public:
    

{{#methods}}
{{^user_data.hasReturnVal}}
{{user_data.bpCallbackDelegateMacroName}}({{user_data.bpCallbackDelegateTypeName}}{{#user_data.bpCallbackIsNoParam}}{{/user_data.bpCallbackIsNoParam}}{{^user_data.bpCallbackIsNoParam}}, {{/user_data.bpCallbackIsNoParam}}{{#parameters}}{{{user_data.bpDelegateType}}}, {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}});
{{/user_data.hasReturnVal}}
{{/methods}}


public:
  {{#methods}}
  {{^user_data.hasReturnVal}}
{{{user_data.commentCppStyle}}}
	UPROPERTY(BlueprintAssignable, Category = "Agora|Event")
  {{user_data.bpCallbackDelegateTypeName}} {{user_data.bpCallbackDelegateVarName}};
  {{/user_data.hasReturnVal}}
  {{/methods}}

  {{#methods}}
  {{^user_data.isExcluded}}
  {{{user_data.macro_scope_start}}}
          virtual {{#return_type}}{{{source}}}{{/return_type}} {{name}} ({{#parameters}}{{{type.source}}} {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}}) override;
  {{{user_data.macro_scope_end}}}
  {{/user_data.isExcluded}}
  {{/methods}}

  // You could add multiple executors to the target handler
	UFUNCTION(BlueprintCallable, Category = "Agora|Event")
	void AddBlueprintCallbackExecutor({{user_data.bpNodeName}}CBExecutor* Executor);

	UFUNCTION(BlueprintCallable, Category = "Agora|Event")
	void RemoveAllBlueprintCallbackExecutors();

private:
	EAgoraBPuEventHandlerType Type = EAgoraBPuEventHandlerType::EventHandler;
};